/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Header styles */
header {
  background-color: #333;
  padding: 10px 0;
  color: white;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Research section styles */
#research {
  padding: 40px 20px;
}

.paper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}

.paper-text {
  width: 60%;
}

.paper-text h2 a {
  color: #007bff;
  text-decoration: none;
}

.paper-text h2 a:hover {
  text-decoration: underline;
}

.paper-images {
  width: 35%;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.paper-images img {
  width: 48%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.paper-images figure {
  text-align: center;
  margin: 0;
}

.paper-images figcaption {
  font-size: 14px;
  color: #666; /* Light grey color for caption */
  margin-top: 5px;
}

.paper p {
  margin-top: 10px;
}

/* About section layout */
.about {
  display: flex;
  align-items: flex-start; /* Aligns content at the top */
  justify-content: space-between;
  padding: 20px;
  gap: 20px; /* Adds space between the columns */
  margin: 20px 0;
}

.about-text {
  flex: 1; /* Takes up remaining space */
}

.about-image {
  flex: 1;
  max-width: 100px; /* pic size */
}

.about-image img {
  width: 100%; /* Image will fill the container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: adds rounded corners */
/*   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds shadow to the image */ */
}

/* Outreach section layout */
.outreach {
  display: flex;
  align-items: flex-start; /* Aligns the image and text at the top */
  gap: 20px; /* Space between the image and text */
  padding: 20px;
  margin-bottom: 20px;
}

.outreach-image {
  flex: 1; /* Image column */
  max-width: 40%; /* Adjusts the image size */
}

.outreach-image img {
  width: 100%; /* Image fills the width of the container */
  height: auto; /* Maintains aspect ratio */
  border-radius: 8px; /* Optional: adds rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: shadow effect */
}

.outreach-text {
  flex: 2; /* Text column takes up remaining space */
}

/* Footer styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}
